.footer{
    padding-bottom: 5px;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

.foot{
    padding-bottom: 50px;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}